<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Yelp Clone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to  "Home", restaurants_path, class:"nav-link" %>
      <%= link_to  "Add a restaurant", new_restaurant_path, class:"nav-link" %>
    </div>
  </div>
</nav>


<div class="container">
<h1><%=@restaurant.name%></h1>
<h2><%=@restaurant.address%></h2>
<p><%="TEL : #{@restaurant.phone_number}"%></p>
<p><%="Category :#{@restaurant.category}"%></p>

<%= link_to  "Back to Restaurants", restaurants_path %>
<br>
<%= link_to  "Leave a review", new_restaurant_review_path(@restaurant) %>

<br> <br>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.content %> | <%= review.rating %> </li>
  <% end %>
</ul>
<br>
<%
=begin%>
 <%= link_to  "Edit a restaurant", edit_restaurant_path(@restaurant) %> 
<%
=end%>


</div>
